//Переменные

$primary-bg-color: #ffffff;
$secondary-bg-color: #f7f7f7;
$title-color: #303030;
$primary-content-color: #555555;
$secondary-content-color: #9da4bd;
$focus-color: #ff6c00;
$secondary-title-color: #ffffff;
$margin: 30px;
